p-button {
    margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field.full-width {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
